body{
   background-image: linear-gradient(#05296F,#3f79ec);
}
*{
    margin: 0;
    padding: 0;
}

.cabecalho {
    background-color: #05296F;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1px 0;

}
   .cabecalho-imagem{
    width: 9%;
}
   .cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 40px;
   }
   .escola-imagem{
    width: 19%;
   }
   .escola{
    background-color: #1252d1;
   }
